
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-image: linear-gradient(to right, transparent, white 15%, white 85%, transparent), url("image/background.png");
  background-repeat: repeat;
  background-size: contain; 
  background-position: center center;
  animation: fade-in 6s;
}

@keyframes fade-in {
  0% {
    filter: grayscale(100%);
  }
  100% {
    filter: grayscale(0%);
  }
}