.Education {
    
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 80px;
   
  }
  
  h1 {
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  
  table {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto;
  }

  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: lightgray;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
  }
  .imageContainer {
    margin-left: 17%;
    padding-top: 5%;
    width: 65%;
    display: flex;
    justify-content: space-between;
  }
  .university {
    width: 200px;
  }