.skill{
    margin-top: 160px;
    margin-left: 60px;
    width: 70%;
}
.progress-bar {
    width: 100%;
    background-color: #4CAF50;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    font-size: 14px;
    color: #fff;
  }
  
  .progress-bar span {
    display: block;
    height: 100%;
    border-radius: 10px;
    background-color: #4CAF50;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s ease-in-out;
  }
  
  .progress-bar span::before {
    content: attr(data-percent) "%";
    position: absolute;
    top: 50%;
    left: 200px;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #fff;
  }
  